<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="container">
        <!-- Indicators -->
        <ol class="carousel-indicators">
        </ol>
    </div>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="img-responsive" src="images/01bot.jpg" alt="Slider Image">
            <div class="container">
                <div class="carousel-centered">
                    <div class="margin-b-40">
                        <h1 class="carousel-title">Portifólio</h1>
                        <p class="description">Em probabilidade e estatística, a distribuição normal é uma das
                            <br/>distribuições de probabilidade mais utilizada para modelar fenômenos naturais.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="BackProject">

<div class="container">
<!-- Clients -->

<div class="bg-color-sky-light">
    <div class="content-lg container">
        <!-- Swiper Clients -->
        <div class="swiper-slider swiper-clients">
            <!-- Swiper Wrapper -->
            <div class="swiper-wrapper">
                <% @project.each do |project| %>
                <div class="swiper-slide">
                    <%= image_tag project.ico(:small), class: "swiper-clientes-img"%>
                </div>
                <%end%>
            </div>
            <!-- End Swiper Wrapper -->
        </div>
        <!-- End Swiper Clients -->
    </div>
</div>

<!-- End Clients -->

<!-- Promo Section -->
<div class="promo-section overflow-h">
    <div class="container">
        <div class="clearfix">
            <div class="ver-center">
                <div class="ver-center-aligned">
                    <div class="promo-section-col">
                        <h2>Nossos Clientes</h2>
                        <p class="projectDesc">Algo aleatório. Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim minim veniam exercitation ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim minim veniam exercitation</p>
                        <p class="projectDesc">Ipsum dolor sit amet consectetur adipiscing elit sed tempor incididut ut sead laboret dolore magna aliqua enim minim veniam exercitation ipsum dolor sit amet consectetur adipiscing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="promo-section-img-right">
        <img class="img-responsive" src="images/01.jpg" alt="Content Image">
    </div>
</div>
<!-- End Promo Section -->
</div>
</div>
