<!--========== PAGE LAYOUT BLOG ==========-->
    <section id="blog">
            <div class="row margin-b-50">
                <!-- Our Exceptional Solutions -->
                <% @post.each do |post|%>
                    <div class="col-md-4 col-sm-12 sm-margin-b-50">
                            <div class="margin-b-20">
                                <div class="margin-b-20">
                                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                                        <%= image_tag post.photo(:large), class: "img-responsive"%>
                                    </div>
                                </div>
                            </div>
                            <h3><a href="#"><%= post.title%></a></h3>
                            <p class="description-blog"><%= post.description%></p>
                            <%= link_to "Leia mais", post_path(post), class: "link"%>
                            <!-- <a class="link" href="#">Leia mais</a> -->
                    </div>
                <%end%>
                <!-- End Our Exceptional Solutions -->
            </div>
            <!--// end BLOG -->
        </section>
<!--========== END PAGE LAYOUT BLOG ==========-->
