
<div class="container-fluid">
  <div>
    <div class="margin-b-20">
        <div class="margin-b-20">
            <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                <%= image_tag @post.photo(:medium), class: "img-responsive"%>
            </div>
        </div>
    </div>
    <h1><%= @post.title%></h1>
    <p class="description-blog"><%= @post.description %></p>
  </div>
</div>
