
@import 'simple-line-icons.min';
@import 'bootstrap.min';
@import 'animate';
@import 'swiper.min';
@import 'layout';
@import 'subscription';
@import 'TargetBlog';
@import 'about';
@import 'fmail';

.labtech-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #FFF url(/images/loader.gif) center center no-repeat;
}

.espaco {
  margin-top: 60px;
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
}

.form-control{
  border-style: solid;
  border-color: Azul;
  border-width: thin;
}
.form-group .form-control:focus{
  color: white;
}

p.projectDesc{
  color: gray;
}
.BackProject{
    margin-top: 100px;
}

textarea {
  width: 300px;
  min-height: 150px;
}
