
@import 'simple-line-icons.min';
@import 'bootstrap.min';
@import 'animate';
@import 'swiper.min';
@import 'layout';


.espaco {
  margin-top: 100px;
}

.form-control{
border-style: solid;
border-color: Azul;
border-width: thin;}
