.hidden {
    display: none;
}

.title-form{
    color:rgb(246, 246, 246);
}

.form-group .form-control{
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    color: #a6a7aa;
    background: #fafafa;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 15px;
    background: rgba(0, 0, 0, 0.15);
}


.backG{
    background-image: url("/images/02top.jpg");
    height: 100%;
    width: 100%;
    position: fixed;
}

.containernewform{
  color: white;
  padding: 10px;
}

.select{
    color: black;
}

/*flash*/

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}
