.BackBlog{
    background-color:rgba(#111312, 0.97);
    height: 100%;
    width: auto;
}
.BackBlog .container{
  background-color: white;
  margin-top: 50px;
}


.description-blog-page{
    color:black;
    text-align: left;
    text-indent: 20px;
}

.titleBlog{
    color: white;
}
