/*.BackBlog{
    background-image: url("/images/BackBlog.jpg");
    height: 100%;
    width: auto;
    position: fixed;
}*/

.BackBlog{
    margin-top: 100px;
}

.description-blog-page{
    color:gray;
}

/*.titleBlog{
    color: white;
}*/
