<header class="header navbar-fixed-top">
  <!-- Navbar -->
  <nav class="navbar" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="menu-container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="toggle-icon"></span>
        </button>

        <!-- Logo -->
        <div class="logo">
          <a href="/"><img class="logo-img logo-img-main" src="/images/LabTech_logo_dark.png" alt="Logo"></a>
          <a href="/"><img class="logo-img logo-img-active" src="/images/LabTech_logo.png" alt="Logo"></a>

        </div>
        <!-- End Logo -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse nav-collapse">
        <div class="menu-container">
          <ul id="nav" class="navbar-nav navbar-nav-right">
            <% if request.fullpath == root_path%>
              <%= render 'layouts/navbar_root'%>
            <%else %>
              <%= render 'layouts/navbar_page'%>
            <%end%>

          </ul>
        </div>
      </div>
      <!-- End Navbar Collapse -->
    </div>
  </nav>
  <!-- Navbar -->
</header>
