<li class="nav-item active">
  <a class="nav-item-child nav-item-hover page-scroll" href="/">Início</a>
</li>

<li class="nav-item">
  <a class="nav-item-child nav-item-hover page-scroll" href="/#blog">Blog</a>
</li>

<li class="nav-item">
  <a class="nav-item-child nav-item-hover page-scroll" href="/#course">Cursos</a>
</li>

<li class="nav-item">
  <a class="nav-item-child nav-item-hover page-scroll" href="/about">Quem Somos</a>
</li>

<li class="nav-item">
  <a class="nav-item-child nav-item-hover page-scroll" href="/projetos">Portfólio</a>
</li>

<li class="nav-item">
  <a class="nav-item-child nav-item-hover page-scroll" href="/#contact">Contato</a>
</li>

<li class="nav-item">
  <a class="nav-item-child nav-item-hover page-scroll" href="/contacts">Inscrições</a>
</li>
